@use 'fonts';
@import 'header';
@import '_footer';
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.grouping {
    display: flex;
    justify-content: space-evenly;
    max-width: 1110px;
    width: 100%;
    margin-top: 50px
}
h1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #111111;
    max-width: 475px;
    width: 100%;
    min-height: 174px;
}
/*.info-group {
    max-width: 500px;
    width: 100%;
}*/
p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
    max-width: 445px;
    width: 100%;
    min-height: 56px;
}
form {
    max-width: 475px;
    width: 100%;
    min-height: 291px;
    align-self: flex-end;
    margin-left: 50px;
}
input {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    border-bottom: 1px solid black;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    transition-duration: 1s;
    margin: 20px;
}
input:hover {
    background-color: grey;
    color: black;
}    
button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    width: 125px;
    background: #4A4FF2;
    transition-duration: 0.2s;
    border: none;
    margin: 20px;
}
button:hover {
    background-color: grey;
    color: black;
}
.map {
    margin-top: 50px;
}